body{
    background-color: gainsboro;
    min-width: 576px;
}

#coverImage{
    max-height: 40em;
}

#profileImage{
    max-height: 15em;
}

#messegeInput{
    line-height: 1.8;
}

.image-upload > input
{
    display: none;
}

.login-card{
    margin-top: 7em;
}

.login-title{
    font-size: 2.1em;
}

.login-text{
    font-size: 1.2em;
}


.main-card{
    margin-top: 7em;
    margin-bottom: 5em;
}


.main-card textarea{
    font-size: 1.3em;
    height: 6.2em;
}

.main-card button{
    width: 8em;
}

.profile-card{
    border: 0;
    width: 14em;
    height: 24em;
    margin-top: -10em;
}

.profile-card .card-title{
    margin-bottom: 0;
}

.link img{
    width: 1em;
}